<%- include('partials/head') %>
  <body>
        <%- include('partials/navbar') %> 

    <h1>The home page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos sunt
      odio iusto esse optio cumque animi earum? Cumque, voluptate facere! Quo
      enim voluptate asperiores, quibusdam magnam architecto tempore nulla sunt.
    </p>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum
      voluptate soluta reiciendis voluptatem beatae tempora debitis ut totam
      praesentium architecto?
    </p>
  </body>
</html>
